@import "tailwindcss";

@theme {

    --color-gradient-top: #270635;
    --color-header-gradient-bottom: #D1F6FF;
    --color-nav-bg: #1A0B21;
    --color-button-bg: #0D161A;
    --color-app-button-border: #182830;
    --color-header-gradient-top: #270635;


}





.title {
    @apply inline-block bg-linear-to-t from-header-gradient-bottom to-white text-transparent bg-clip-text text-center font-semibold
}

.font-schibsted-grotesk {
    font-family: var(--font-schibsted-grotesk);
}

.font-martion-mono {
    font-family: var(--font-martion-mono);
}